<div class="hamburger" (click)="toggleMenu()" [class.hidden]="isMenuOpen">
  <i class="fas fa-bars"></i>
</div>

<!-- Add Notification Bell -->
<div class="notification-bell" (click)="openNotifications()">
  <i class="fas fa-bell"></i>
</div>

<mat-sidenav-container class="sidenav-container">
   <!-- <mat-sidenav 
      #SideNav 
      mode="side" 
      [(opened)]="isMenuOpen"
      style="min-width:50px; background: #F3F3F3;"
      class="shadow_right" autosize>
    </mat-sidenav>  
    error: if added nav will not display--> 

  <mat-sidenav-content>
    #SideNav 
    mode="side" 
    [(opened)]="isMenuOpen"
    style="min-width:50px; background: #F3F3F3;"
    class="shadow_right" autosize>
    
    <button mat-button color="primary" (click)="isMenuOpen!=isMenuOpen">Toggle Menu</button>
    <button (click)="sidenav.toggle()">Toggle Sidenav</button>


  <mat-nav-list>
    <mat-list-item>
      <a routerLink="/dashboard" ><mat-icon>dashboard</mat-icon> Dashboard</a>
    </mat-list-item>
    <mat-list-item>
      <a routerLink="/waste-collection" ><mat-icon>local_shipping</mat-icon> Waste Collection</a>
    </mat-list-item>
    <mat-list-item>
      <a routerLink="/recycling" ><mat-icon>recycling</mat-icon> Recycling</a>
    </mat-list-item>
    <mat-list-item>
      <a routerLink="/disposal" ><mat-icon>delete</mat-icon> Disposal</a>
    </mat-list-item>
    <mat-list-item>
      <a routerLink="/reports" ><mat-icon>assessment</mat-icon>Reports</a>
    </mat-list-item>
    <mat-list-item>
      <a routerLink="/admin-dashboard"><mat-icon>settings</mat-icon>Admin Dashboard</a>
    </mat-list-item>
    <mat-list-item>
      <a routerLink="/profile"><mat-icon>person</mat-icon>Profile</a>
    </mat-list-item>
    <mat-list-item>
      <a routerLink="/login" ><mat-icon>login</mat-icon>Login</a>
    </mat-list-item>
    <mat-list-item>
      <a routerLink="/contact" ><mat-icon>contact_page</mat-icon>Contact</a>
    </mat-list-item>
  </mat-nav-list>

</mat-sidenav-content>
</mat-sidenav-container>